body{
    margin: 0;
}

*,
*:before,
*:after{
    box-sizing: border-box;
}

.intro{
    width: 100%;
    height: 100vh;
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
}
p{
    color: grey;
}

.block-1{
    width: 70%;
    max-width: 1200px;
    margin: 0 auto;
}



/* Header */
.header{
    background-color: #ff4c66;
    width:100%;
    padding-top: 30px;
    height: 50%;
    overflow: hidden;

}

.header_inner{
    display: flex;;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.logo{
    color: white;
    font-family: Corbel;
    font-weight: bold;
    font-size: 30px;
}

nav{
    font-size: 14px;
    color: white;
    margin-top: 10px;
}

.nav_link{
    display: inline-block;
    vertical-align: top;
    margin: 0 20px;
    color: #bbb4b4;
    text-decoration: none;

}

.nav_link:hover{
    color: white;
}

/*main*/

.main{
  /*  margin-left: auto;
    margin-right: auto;
    width: 70%;*/
    color: white;
    display: flex;
    flex-direction: row;
}

.download{
    width: 50%;
}

.main_title{
    font-size: 50px;
    font-family: "Times New Roman";
    line-height: 1.5;
}

.iphone{


}

.iphone img{
    transform: rotate(25deg);
    width: 200px;
    object-fit: contain;

}

/*features*/
.features{
    margin-top: 80px;
    padding-top: 50px;
}

.container-fluid{
}

.features p{
    color: grey;
}
.features i{
    color: #f88477;
    margin: 10px;
}

.features h4{
    font-family: "Times New Roman";
}

/* Pricing page*/
.pricing{
    width: 100%;
    padding: 10px 0;
}

.represent {
    width: 100%;
    height: 60%;
    background-color: #f88477;
    color: white;
}

.feedback{
    font-family: "Times New Roman";
    margin-right: auto;
    margin-left: auto;
}

.dog-img{
    border-radius: 50%;
    display: inline;
    width: 10%;
    margin-right: 10px;
}
.feedback p{
    display: initial;
    font-family: Calibri;
    font-style: italic;
    color: white;
}

.col-6{
    width: 80%;
}

.ver-center{
    display: inline-block;
    width: 50%;
    margin: 140px auto;
}

.support{
    display: flex;

}

.brand{
    margin-bottom: 50px;
}

.brand img {
    max-width: 60%;
}

.block-2{
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

.pricing_header{
    margin: 40px auto 30px;
    text-align: center;
}

.fnt_TNR{
    font-family: "Times New Roman";
}

/* download page*/
.download-page{
    margin: 60px 0 80px;
}

.download-block{
    background-color: #ff4c66;
    width:100%;
    padding-top: 30px;
    height: 50vh;
}


.text{
    width: 70%;
    color: white;
    margin: 30px auto;
    text-align: center;
    font-family: "Times New Roman";
}

.choice{
    width: 70%;
    color: white;
    margin-left: auto;
    margin-right: auto;
}

.copy-right {
    color:grey;
    margin-top: 20px;
}

footer a {
    color:#394e6c;
}